@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: 'Permanent Marker', cursive;
}

/* Header */
.nav{
    flex-wrap: wrap;
    background-color: #ffffff;
    padding-right: 30px;
    display: flex;
    width: 100%;
    font-weight: 900;
    max-height: 50px;
    color: rgb(0, 0, 0);
    position: fixed;

}
.signin{
    
}
.signin a{
    font-family:Arial, Helvetica, sans-serif;

}
nav .header-title {
    padding-top: 8px;
    padding-left: 60px;
}

nav .nav-list {
    gap: 35px;
    padding: 15px;
    display: flex;
    margin-left: 30px;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
    text-align: left;
}

nav .nav-list a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

nav .nav-list a:hover {
    color: rgb(208, 9, 9);
    transition: 0.3s;
}
/* ///////////////////////////////////////////// */
main {
    display: block;
    place-items: center;
    /*     background-color: #818e9b; */

}

.hero img {
    width: 40%;
    position: relative;
    border-radius: 10px;
    animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }

    50% {
        bottom: 20px;
    }
}

/* Hero */
.hero {
    background-image: url('../../public/keybaoard.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 120px 70px 70px;
    height: 65vh;
}

.hero .intro {
    margin-top: 60px;
}

.hero .intro h1 {
    font-size: 40px;
    color: white;
    letter-spacing: 3px;
}

.hero .intro h2 {
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
}

.hero .intro p {
    font-size: 15px;
    line-height: 30px;
    color: white;
    letter-spacing: 2px;
}

span {
    color: rgb(208, 9, 9);
}

.hero img {
    width: 80%;
}

button {
    font-size: 15px;
    font-weight: 700;
    background-color: #007bff;
    color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    border-color: #007bff;
    transition: 0.3s;
    margin-top: 30px;
    letter-spacing: 3px;
    box-shadow: 0 4px 8px 0 rgba(122, 117, 117, 0.2), 0 6px 20px 0 rgba(180, 164, 164, 0.19);
}

button:hover {
    background-color: #125399;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
    border-color: #125399;
    border-radius: 10px;
}

/* Discount */
.discount {
    margin: 30px 70px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categories h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 45px;
}

.discount-item img {
    width: 400px;
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.6), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.discount-item img:hover {
    transform: scale(1.04);
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
}

.products-cat h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

@media(max-width:960px) {
    .hero {
        text-align: center;
    }

    .hero .intro {
        font-size: 1em;
    }

    .discount-item img {
        width: 350px;
    }
}

@media(max-width:850px) {
    .hero .intro h1 {
        font-size: 5vw;
        color: white;
        letter-spacing: 3px;
    }

    .hero .intro h2 {
        font-size: 3vw;
        color: white;
        letter-spacing: 3px;
    }

    .hero .intro p {
        font-size: 2vw;
        line-height: 30px;
        color: white;
        letter-spacing: 2px;
    }

    button {
        font-size: 10px;
        font-weight: 700;
        background-color: #007bff;
        color: aliceblue;
        padding: 15px;
        border-radius: 10px;
        width: 20%;
        border-color: #007bff;
        transition: 0.3s;
        margin-top: 30px;
        letter-spacing: 3px;
        box-shadow: 0 4px 8px 0 rgba(122, 117, 117, 0.2), 0 6px 20px 0 rgba(180, 164, 164, 0.19);
    }
}

@media(max-width:610px) {
    .hero .intro h1 {
        font-size: 4vw;
        color: white;
        letter-spacing: 3px;
    }

    .hero .intro h2 {
        font-size: 4vw;
        color: white;
        letter-spacing: 3px;
    }

    .hero .intro p {
        font-size: 3vw;
        line-height: 30px;
        color: white;
        letter-spacing: 2px;
    }

    .categories h1 {
        margin-top: 40px;
        font-size: 7.5vw;
    }
}

@media(max-width:500px) {
    .hero {
        padding: 50px;
    }

    .hero .intro h1 {
        font-size: 4.8vw;
        color: white;
        letter-spacing: 3px;
    }
}
/* ///////////////////////////////////////////////////////////////////// */
/* General */
body.items,
.meg_Aegis_Ti5_12th {
    background-color: black;
}

/* //////////////////////////////////////// */
/* Desktop */
main.items h1 {
    margin: 60px 30px -10px;
    color: white;
}

.items_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    color: white;
}

.items_product {
    display: grid;
    text-align: center;
    border: solid;
    border-width: 0.1px;
    max-width: 350px;
    min-height: 390px;
    border-color: rgb(98, 81, 81, 0.5);
    transition: 0.3s;
    padding: 10px;
}

.items_product:hover {
    transform: scale(1.04);
    cursor: pointer;
    transition: 0.3;
    background-color: #2b2c2d;
}

.items_product img {
    max-width: 300px;
    border-radius: 20px;
}

.items_product p {
    font-size: 20px;
    font-weight: 700;
}

/* //////////////////////////////////////////// */
/* MEG Aegis Ti5 12th */
.ti5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
}

.ti5_header h1 {
    text-align: center;
    color: white;
}

.ti5_header img {
    position: relative;
    animation: MoveUpDown 2.5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }

    50% {
        bottom: 15px;
    }
}

table, td, th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;

    color: aliceblue;
}

/* //////////////////////////////// */
/* Footer */
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    padding: 30px 60px 40px;
    display: grid;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
}

footer h1 {
    margin-bottom: 20px;
    letter-spacing: 3px;
    line-height: 30px;
}

footer a {
    text-decoration: none;
    color: rgb(208, 9, 9);
}

footer img {
    max-width: 30px;
    transition: 0.3s;
}

footer img:hover {
    max-width: 30px;
    transform: rotate(0.1turn);
    transition: 0.3s;
}

footer p {
    font-size: 10px;
}

footer .reach-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .reach-us-items {
    margin: 0px 10px 10px;
    transition: 0.3s;
}

footer .reach-us-items:hover {
    transform: scale(1.2);
    transition: 0.3s;
}


